{% extends "styleguide_base.twig" %} {% block hero %}
<section class="hero-bg">
  <div class="banner-content-wrap">
    <div class="row">
      <div class="column medium-6 medium-centered text-center ">
        <h2 class="page-header alternate title-uppercase">GOC SE CHIA</h2>

        <h3 class="page-sub-header text-white">Chao mung ban toi Gia dinh Maggi</h3>
        <p class="text-white">Hay cung Maggi va cac me tim hieu va chia se cac bi quyet cham chut nhe.</p>

        <form>
          <div class="row collapse postfix-round">
            <div class="small-10 columns">
              <input type="text" placeholder="Tim kiem hoac dat cau hoi">
            </div>
            <div class="small-2 columns">
              <a href="#" class="button postfix"><i class="fa fa-search"></i></a>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>
<!-- .hero-bg -->

{% endblock %} {% block content %}

<!-- Requires Foundation 4 | visit http://foundation.zurb.com to download -->

<section class="container">
  <div class="row">
    <div class="column small-12 medium-12 text-center">
      <h2 class="text-uppercase text-red">XEM THEO Chu DE</h2>
    </div>
  </div>
  <!-- 4 blocks -->
  <div class="row">
    <div class="medium-10 medium-push-1 columns">


      <div class="row">

        <div class="large-3 small-6 columns text-center">
          <a class="th radius" href="#">
            <img src="http://placehold.it/250x250" />
            <h3 class="text-red">CHUYỆN NẤU NUONG</h3>
          </a>
        </div>

        <div class="large-3 small-6 columns text-center">
          <a class="th radius" href="#">
            <img src="http://placehold.it/250x250" />
            <h3 class="text-red">BÍ QUYẾT DINH DƯỠNG</h3>
          </a>

        </div>

        <div class="large-3 small-6 columns text-center">
          <a class="th radius" href="#">
            <img src="http://placehold.it/250x250" />
            <h3 class="text-red">THỰC PHẨM CHO CON</h3>
          </a>

        </div>

        <div class="large-3 small-6 columns text-center">
          <a class="th radius" href="#">
            <img src="http://placehold.it/250x250" />
            <h3 class="text-red">CHIA SẺ KHÁC</h3>
          </a>

        </div>

      </div>
    </div>
  </div>
  <!-- End 4 blocks -->
</section>

<section class="container">
  <br/>
  <!-- Tabs -->
  <ul class="tabs" data-tab>
    <li class="tab-title active"><a href="#panel1">MỚI NHẤT</a></li>
    <li class="tab-title"><a href="#panel2">ĐANG THEO DÕI</a></li>
  </ul>
  <!-- End Tabs -->
  <br/>

</section>


<section class="container">

  <!-- Post -->
  <div class="row results">
    <div class="medium-10 medium-push-1 column ">



      <div class="search-results">

        <!--thread-->
        <div class="row card thread">
          <div class="medium-2 columns  text-center">
            <a href="#" class="avatar circle">
              <img src="http://placehold.it/100x100&text=book cover" alt="" class=" thumbnail">
            </a>
            <p class="user text-red"> Mai Phan </p>
          </div>
          <div class="medium-10 columns content">
            <h3 class="text-red">CÓ THỂ CHỈ CHO MÌNH MÓN RAU CẢI THÌA NGOÀI MÓN XÀO CÓ THỂ LÀM ĐƯỢC MÓN GÌ KHÁC ĐƯỢC KHÔNG?</h3>
            <p>MAGGI ơi, nhóc nhà mình lười ăn rau lắm, chỉ ăn mỗi rau Cải thìa thôi. MAGGI có thể cho mình biết thêm cách nào khác để chế biến món ăn từ rau Cải thìa ngoài món xào không MAGGI? Cảm ơn MAGGI nhiều nhé...<a href="#" class="card-link">Xem thêm</a></p>
            <p>15 câu trả lời - <a href="#" class="card-link">Chuyện nấu nướng</a> - 2 ngày trước</p>
          </div>
        </div>
        <!-- .thread-->




        <div class="row card thread ">
          <div class="medium-2 columns text-center">
            <a href="#" class="avatar circle">
              <img src="http://placehold.it/100x100&text=book cover" alt="" class=" thumbnail">
            </a>
            <p class="user text-red"> Hồng Phương </p>
          </div>

          <div class="medium-10 columns content">

            <h3 class="text-red">LÀM SAO ĐỂ MÓN THỊT KHO TÀU ĐƯỢC ĐẬM MÀU?</h3>
            <p>MAGGI ơi, nhóc nhà mình lười ăn rau lắm, chỉ ăn mỗi rau Cải thìa thôi. MAGGI có thể cho mình biết thêm cách nào khác để chế biến món ăn từ rau Cải thìa ngoài món xào không MAGGI? Cảm ơn MAGGI nhiều nhé...<a href="#" class="card-link">Xem thêm</a></p>
            <p>15 câu trả lời - <a href="#" class="card-link">Chuyện nấu nướng</a> - 2 ngày trước</p>

          </div>



        </div>



        <div class="row card thread">
          <!--thread-->

          <div class="medium-2 columns  text-center">

            <a href="#" class="avatar circle">
              <img src="http://placehold.it/100x100&text=book cover" alt="" class=" thumbnail">
            </a>
            <p class="user text-red"> Mai Phan </p>
          </div>

          <div class="medium-10 columns content">

            <h3 class="text-red">CÓ THỂ CHỈ CHO MÌNH MÓN RAU CẢI THÌA NGOÀI MÓN XÀO CÓ THỂ LÀM ĐƯỢC MÓN GÌ KHÁC ĐƯỢC KHÔNG?</h3>
            <p>MAGGI ơi, nhóc nhà mình lười ăn rau lắm, chỉ ăn mỗi rau Cải thìa thôi. MAGGI có thể cho mình biết thêm cách nào khác để chế biến món ăn từ rau Cải thìa ngoài món xào không MAGGI? Cảm ơn MAGGI nhiều nhé...<a href="#" class="card-link">Xem thêm</a></p>
            <p>15 câu trả lời - <a href="#" class="card-link">Chuyện nấu nướng</a> - 2 ngày trước</p>

          </div>

        </div>
        <!--//thread-->




        <div class="row card thread ">
          <div class="medium-2 columns text-center">
            <a href="#" class="avatar circle">
              <img src="http://placehold.it/100x100&text=book cover" alt="" class=" thumbnail">
            </a>
            <p class="user text-red"> Hồng Phương </p>
          </div>

          <div class="medium-10 columns content">

            <h3 class="text-red">LÀM SAO ĐỂ MÓN THỊT KHO TÀU ĐƯỢC ĐẬM MÀU?</h3>
            <p>MAGGI ơi, nhóc nhà mình lười ăn rau lắm, chỉ ăn mỗi rau Cải thìa thôi. MAGGI có thể cho mình biết thêm cách nào khác để chế biến món ăn từ rau Cải thìa ngoài món xào không MAGGI? Cảm ơn MAGGI nhiều nhé...<a href="#" class="card-link">Xem thêm</a></p>
            <p>15 câu trả lời - <a href="#" class="card-link">Chuyện nấu nướng</a> - 2 ngày trước</p>

          </div>



        </div>







      </div>
    </div>
  </div>
  <!-- End Post -->

</section>

{% include 'components/table.twig' %}

{% endblock %}
