{% extends "styleguide_base.twig" %}
  {% block hero %}
    <section class="hero-bg">
      <div class="banner-content-wrap">
        <div class="row">
          <div class="column medium-6 medium-centered text-center ">
            <h2 class="page-header alternate title-uppercase">GOC SE CHIA</h2>

            <h3 class="page-sub-header text-white">Chao mung ban toi Gia dinh Maggi</h3>
            <p class="text-white">Hay cung Maggi va cac me tim hieu va chia se cac bi quyet cham chut nhe.</p>

            <form>
              <div class="row collapse postfix-round">
                  <div class="small-10 columns">
                    <input type="text" placeholder="Tim kiem hoac dat cau hoi">
                  </div>
                  <div class="small-2 columns">
                    <a href="#" class="button postfix"><i class="fa fa-search"></i></a>
                  </div>
                </div>
            </form>

          </div>
        </div>
      </div>
    </section>
    <!-- .hero-bg -->

  {% endblock %}

  {% block content %}

  <section class="container">


      <div class="row">
        <div class="column medium-10 medium-push-1">
            <div class="medium-3 columns">
                <h4 class="text-uppercase">Chuyen nau nuong - </h4>

            </div>
            <div class="medium-9 columns">
               <h3 class="text-uppercase text-red">Co the chi cho minh rau cai thua ngoai mon xao co the lam duoc mon gi khac duoc khong? </h3>
            </div>

        </div>
      </div>


      <div class="row">

          <div class="column medium-10 medium-push-1">


              <div class="card thread clearfix">

                 
                  <div class="medium-2 columns  text-center">
                      <a href="#" class="avatar circle"> <img src="http://placehold.it/60x60&text=book cover" alt="" class=" thumbnail"></a>
                      <p class="user text-red"> Mai Phan </p>
                  </div>

                  <div class="medium-10 columns content">
                      <p>MAGGI ơi, nhóc nhà mình lười ăn rau lắm, chỉ ăn mỗi rau Cải thìa thôi. MAGGI có thể cho mình biết thêm cách nào khác để chế biến món ăn từ rau Cải thìa ngoài món xào không MAGGI? Cảm ơn MAGGI nhiều nhé.</p>
                  </div>

                  

                  <div class="medium-12 column clearfix">
                      <p class="left"><i class="fa fa-check-square-o"></i> 3 theo doi - 15 tra loi</p>

                      <a href="#" class="card-link right">Tra loi</a>
                  </div>

              </div>


              <!--Thread reply-->

              <div class="card thread reply clearfix">




                  <ul class="no-bullet">
                      <li class="clearfix">

                           <div class="medium-2 columns  text-center">
                              <a href="#" class="avatar circle"> <img src="http://placehold.it/60x60&text=book cover" alt="" class=" thumbnail"></a>
                              <p class="user text-red"> Linh Nguyen </p>
                          </div>

                          <div class="medium-10 columns content">
                              <p>1. Thịt heo quay cắt khúc vừa ăn. Đun dầu và cho tỏi vào phi thơm.</p>
                              <p>2. Khi tỏi hơi vàng, cho thịt quay và dưa chua vào xào cùng 1 lúc. Khoảng 5 phút sau nêm vào dưa chua 2 thìa súp dầu hào MAGGI, trộn đều. </p>
                              <p>3. Cho hành ngò cắt khúc vào đảo qua một lượt rồi tắt bếp. </p>
                          </div>

                          <div class="medium-11 medium-push-1 column clearfix">
                              <p class="left"><span class="radius secondary label" ><i class="fa fa-thumbs-o-up"></i> 6</span> 8 gio truoc - <a href="#" class="card-link">Trich dan</a></p>

                             
                          </div>

                      </li>
                      <li class="clearfix">

                           <div class="medium-2 columns  text-center">
                                <a href="#" class="avatar circle"> <img src="http://placehold.it/60x60&text=book cover" alt="" class=" thumbnail"></a>
                                <p class="user text-red"> Ha Phuong </p>
                            </div>

                            <div class="medium-10 columns content">
                                <blockquote>

                                     <p>1. Thịt heo quay cắt khúc vừa ăn. Đun dầu và cho tỏi vào phi thơm.</p>
                                      <p>2. Khi tỏi hơi vàng, cho thịt quay và dưa chua vào xào cùng 1 lúc. Khoảng 5 phút sau nêm vào dưa chua 2 thìa súp dầu hào MAGGI, trộn đều. ... <a href="#" class="card-link">Xem them</a></p>

                                </blockquote>

                                <p>Cam on ban Huong nhieu nhe!</p>


                               
                            </div>

                            <div class="medium-11 medium-push-1 column clearfix">
                                <p class="left"><span class="radius secondary label"><i class="fa fa-thumbs-o-up"></i> 6</span> 8 gio truoc - <a href="#" class="card-link">Trich dan</a></p>

                               
                            </div>

                      </li>
                  </ul>


                  <div class="clearfix"></div>
                  <div class="medium-4 medium-centered columns  text-center">
                    <ul class="pagination">
                      <li class="arrow unavailable"><a href="">«</a></li>
                      <li class="current"><a href="">1</a></li>
                      <li><a href="">2</a></li>
                      <li><a href="">3</a></li>
                      <li><a href="">4</a></li>
                      <li class="arrow"><a href="">»</a></li>
                    </ul>
                  </div>



                  


              </div>

              <!--//Thread reply-->

             

                <!--Thread reply-->

              <div class="card thread comment clearfix">

                    <div class="medium-2 columns  text-center">
                                <a href="#" class="avatar circle"> <img src="http://placehold.it/60x60&text=book cover" alt="" class=" thumbnail"></a>
                                <p class="user text-red"> YOU </p>
                            </div>

                            <div class="medium-10 columns content">
                                
                                <textarea placeholder="Nhập câu trả lời"></textarea>

                               <button class="button btn-fill">Đăng câu trả lời</button>
                            </div>
              </div>




          </div>

      </div>

  </section>

  {% endblock %}
