{% extends "styleguide_base.twig" %}
  {% block hero %}
    <section class="hero-bg ">
      <div class="banner-content-wrap">
        <div class="row">
          <div class="large-6 large-offset-3 text-center">
            <h2 class="page-header alternate title-uppercase"></h2>
          </div>
        </div>
      </div>
    </section>
    <!-- .hero-bg -->

  {% endblock %}

{% block content %}

	<section class="container">
		<div class="row">

			<div class="column medium-10 medium-centered">

			<article class="post">

				<header>
					<h2 class="title text-red">CÙNG HẠT NÊM MAGGI NẤM HƯƠNG TRẢI NGHIỆM "NGÀY THANH NHẸ"</h2>
					<p class="meta date">20/05/2015</p>
				</header>

				<section class="post-content">

					<p>Ai trong gia đình cũng có những bộn bề, áp lực riêng của cuộc sống: ba thì lo việc công ty, mẹ thì lo việc nhà, con cái thì lo việc học hành. Đôi khi cả nhà cần một ngày nghỉ ngơi, giải phóng cơ thể và tinh thần để thấy thoải mái, nhẹ nhàng hơn. Các chuyên gia dinh dưỡng cũng khuyên rằng, chất dinh dưỡng từ rau củ dễ hấp thụ hơn, khiến bạn không bị cảm giác đầy bụng, khó tiêu.</p>
						
					<p>Vì lẽ đó, trong tuần, MAGGI khuyên bạn hãy chọn 1 ngày ăn thanh nhẹ với nhiều món từ rau củ hơn ngày thường để cả gia đình thư giãn, bổ sung chất dinh dưỡng, giúp cơ thể và tinh thần thoải mái hơn. Đó chính là ý nghĩa của thông điệp “Ngày thanh nhẹ” mà MAGGI muốn gửi gắm đến gia đình bạn.</p>

					<p>Bạn và gia đình có thể ăn thanh nhẹ vào bất kì ngày nào trong tuần, với những món rau củ ngon miệng và giàu dinh dưỡng được nấu với hạt nêm MAGGI nấm hương.</p>

					<p><img alt="" class="img-responsive" src="http://placehold.it/850x350"></p>

					<p>Trong thời gian từ ngày 19/05/2015 đến ngày 9/6/2015, Maggi Nấm Hương mang đến cho bạn “Thử thách ngày thanh nhẹ” trên trang<a href="https://www.facebook.com/maggivietnam"> Facebook</a><a href="https://www.facebook.com/maggivietnam" target="_blank">&nbsp;MAGGI Việt Nam&nbsp;</a>&nbsp;nhằm mục đích tạo thói quen ăn uống khoẻ mạnh hơn cho gia đình. MAGGI mong muốn tạo ra một sân chơi trao đổi những công thức các món ăn thanh nhẹ, để các bạn có thể đa dạng hoá thực đơn dinh dưỡng của gia đình mình. Thử thách được đưa &nbsp;ra với những thông tin bổ ích và cơ hội để bạn dành được những quà tặng thú vị từ MAGGI.</p>

						<p>&nbsp;</p>

						<p><img alt="" class="img-responsive" src="http://placehold.it/850x350"></p>

					<p>Bên cạnh đó MAGGI tổ chức nhiều hoạt động được tổ chức tại các điểm bán hàng, là dịp để gia đình bạn có thể cùng nhau trải nghiệm vị đậm đà, thơm tự nhiên với hạt nêm MAGGI Nấm Hương.<strong> </strong>Với những món ăn ngon với MAGGI Nấm Hương, chúc gia đình bạn sẽ có một ngày thanh nhẹ thật tươi mới và tràn ngập hạnh phúc!</p>
				</section>

				<footer>

				</footer>

			</article>

			</div>








		</div>
	</section>



{% endblock %}