<!-- footer.twig -->
<footer class="l-footer panel" role="contentinfo">
  <div class="row">
    <div class="small-2 columns">
      <a href="/user" class="right">Login</a>
    </div>
  </div>
</footer>
<!-- !footer.twig -->
