<header class="l-header" role="banner">

  <!--.top-bar -->
  <div class="contain-to-grid sticky">
    <nav class="top-bar" data-options="mobile_show_parent_link:true" data-topbar="">
      <ul class="title-area">
        <li class="logo">
          <a class="active" href="/" rel="home" title=" Home"><img alt=" logo" class="logo" src="http://jamdigitaluy3ffj2ern.devcloud.acquia-sites.com/sites/all/themes/lightningdemo/logo.png" title=" Home"></a>
        </li>
        <li class="toggle-topbar menu-icon">
          <a href="#">
            <span>Menu</span>
          </a>
        </li>
      </ul>

      <section class="top-bar-section">
        <ul class="main-nav left" id="main-menu">
          <li class="first leaf menu_icon menu-1532" title="">
            <a class="menu_icon menu-1532" href="/news" title="">CHUYỆN<br>
              MAGGI</a>
          </li>
          <li class="leaf menu_icon menu-1534" title="">
            <a class="menu_icon menu-1534" href="/recipes" title="">CHĂM CHÚT<br>
              MÓN NGON</a>
          </li>
          <li class="leaf menu_icon menu-1533" title="">
            <a class="menu_icon menu-1533" href="/products" title="">GIA ĐÌNH<br>
              MAGGI</a>
          </li>
          <li class="last leaf menu_icon menu-4386" title="">
            <a class="menu_icon menu-4386" href="/questions/search" title="">GÓC<br>
              SẺ CHIA</a>
          </li>
        </ul>
        <ul class="secondary link-list right" id="secondary-menu">
          <li class="first expanded has-dropdown not-click">
            <a href="/user">My account</a>
            <ul class="dropdown">
              <li class="title back js-generated">
                <h5>
                  <a href="javascript:void(0)">Back</a>
                </h5>
              </li>
              <li>
                <a class="parent-link js-generated" href="/user">My account</a>
              </li>
              <li class="first leaf" title="">
                <a href="/questions/user/questions/asked" title="">My Questions</a>
              </li>
              <li class="last leaf" title="">
                <a href="/questions/user/questions/answered" title="">My Answers</a>
              </li>
            </ul>
          </li>
          <li class="last leaf">
            <a href="/user/logout">Log out</a>
          </li>
        </ul>
      </section>
    </nav>
  </div>
  <!--/.top-bar -->

  <!-- Title, slogan and menu -->
  <!-- End title, slogan and menu -->

</header>
