<!-- searchblock.twig -->
<section class="subscribe-line search-panel-section z-depth-2">
  <div class="row">
    <div class="medium-7 columns">
      <nav class="search-cat-nav icon-bar six-up">
        <a class="item">
          <img src="dist/images/icons/monxao.png">
          <label>Cat 1</label>
        </a>
        <a class="item">
          <img src="dist/images/icons/monxao.png">
          <label>Cat 2</label>
        </a>
        <a class="item">
          <img src="dist/images/icons/monxao.png">
          <label>Cat 3</label>
        </a>
        <a class="item">
          <img src="dist/images/icons/monxao.png">
          <label>Cat 4</label>
        </a>
        <a class="item">
          <img src="dist/images/icons/monxao.png">
          <label>Cat 5</label>
        </a>
        <a class="item">
          <img src="dist/images/icons/monxao.png">
          <label>All cats</label>
        </a>
      </nav>
    </div>
    <div class="medium-5 columns">
      <div class="row collapse">
        <div class="small-9 columns">
          <div class="form-item form-type-textfield form-item-search-block-form">
            <label class="element-invisible" for="edit-search-block-form--2">Search
            </label>
            <input class="form-text" id="edit-search-block-form--2" maxlength="128" name="search_block_form" size="15" title="Enter the terms you wish to search for." type="text" value="">
          </div>
        </div>
        <div class="small-3 columns">
          <button class="secondary button radius postfix expand postfix expand form-submit" id="edit-submit" name="op" type="submit" value="Search">Search</button>
        </div>
        <input name="form_build_id" type="hidden" value="form-pY5gUP565k5zp5P-Z2ojvV2meciTcCs8kPh_VPDp3y4">
        <input name="form_token" type="hidden" value="h3wdR0hxs1RYB32NsktY8QYsY0Y1oxKAWihy7AHP-tQ">
        <input name="form_id" type="hidden" value="search_block_form">
      </div>
    </div>
  </div>
</section>
<!-- !searchblock.twig -->

<div class="large-12 columns">

  <!-- THEME DEBUG -->
  <!-- CALL: theme('region') -->
  <!-- FILE NAME SUGGESTIONS:
   * region--featured.tpl.php
   x region.tpl.php
-->
  <!-- BEGIN OUTPUT from 'sites/all/themes/lightningdemo/templates/region.tpl.php' -->

  <!-- THEME DEBUG -->
  <!-- CALL: theme('block') -->
  <!-- FILE NAME SUGGESTIONS:
   * block--menu--menu-recipe-categories.tpl.php
   * block--menu.tpl.php
   * block--featured.tpl.php
   x block.tpl.php
-->
  <!-- BEGIN OUTPUT from 'sites/all/themes/lightningdemo/templates/block.tpl.php' -->
  <section class="block block-menu  block-menu-menu-recipe-categories contextual-links-region block-menu-menu-recipe-categories">

    <h2 class="block-title">Recipe Categories</h2>
    <ul class="menu">
      <li class="first leaf">
        <a class="menu_icon menu-3784" href="/category/tat-ca" title="Tất cả">Tất cả</a>
      </li>
      <li class="leaf">
        <a href="/category/mon-canh" title="Món canh">Món canh</a>
      </li>
      <li class="leaf">
        <a href="/category/m%C3%B3n-x%C3%A0o-0" title="Món xào">Món xào</a>
      </li>
      <li class="leaf">
        <a href="/category/m%C3%B3n-m%E1%BA%B7n" title="Món mặn">Món mặn</a>
      </li>
      <li class="leaf">
        <a href="/category/m%C3%B3n-thanh-nh%E1%BA%B9" title="Món thanh nhẹ">Món thanh nhẹ</a>
      </li>
      <li class="leaf">
        <a href="/category/cu%E1%BB%91i-tu%E1%BA%A7n" title="Cuối tuần">Cuối tuần</a>
      </li>
      <li class="leaf">
        <a href="/category/s%E1%BB%91t-ch%E1%BA%A5m" title="Sốt chấm">Sốt chấm</a>
      </li>
      <li class="last leaf">
        <a href="/category/kh%C3%A1c" title="Khác">Khác</a>
      </li>
    </ul>
  </section>
  <!-- END OUTPUT from 'sites/all/themes/lightningdemo/templates/block.tpl.php' -->

  <!-- THEME DEBUG -->
  <!-- CALL: theme('block') -->
  <!-- FILE NAME SUGGESTIONS:
   * block--search--form.tpl.php
   * block--search.tpl.php
   * block--featured.tpl.php
   x block.tpl.php
-->
  <!-- BEGIN OUTPUT from 'sites/all/themes/lightningdemo/templates/block.tpl.php' -->
  <section class="block block-search  block-search-form contextual-links-region block-search-form">

    <div class="contextual-links-wrapper contextual-links-processed">
      <a class="contextual-links-trigger" href="#">Configure</a>
      <ul class="contextual-links">
        <li class="block-configure first last">
          <a href="/admin/structure/block/manage/search/form/configure?destination=home">Configure block</a>
        </li>
      </ul>
    </div>
    <form accept-charset="UTF-8" action="/" id="search-block-form--2" method="post">
      <div>

        <!-- THEME DEBUG -->
        <!-- CALL: theme('search_block_form') -->
        <!-- BEGIN OUTPUT from 'modules/search/search-block-form.tpl.php' -->
        <div class="container-inline">
          <h2 class="element-invisible">Search form</h2>
          <div class="row">
            <div class="small-4 columns">
              <div class="form-item form-type-textfield form-item-search-block-form">
                <label class="element-invisible" for="edit-search-block-form--4">Search
                </label>
                <input class="form-text" id="edit-search-block-form--4" maxlength="128" name="search_block_form" size="15" title="Enter the terms you wish to search for." type="text" value="">
              </div>
            </div>
            <div class="row">
              <div class="small-2 columns">
                <button class="secondary button radius postfix expand postfix expand form-submit" id="edit-submit--2" name="op" type="submit" value="Search">Search</button>
              </div>
            </div><input name="form_build_id" type="hidden" value="form-fofaX2TLvanS9dYTsy-dfVBgimi2W8N4dt6afO7mJN4">
            <input name="form_token" type="hidden" value="YyqKGKjFIjRRbBWk700R2Fm4kk4-d242SSwd6OeDfoo">
            <input name="form_id" type="hidden" value="search_block_form">
          </div>

          <!-- END OUTPUT from 'modules/search/search-block-form.tpl.php' -->

        </div>
      </div>
    </form>
  </section>
  <!-- END OUTPUT from 'sites/all/themes/lightningdemo/templates/block.tpl.php' -->

  <!-- END OUTPUT from 'sites/all/themes/lightningdemo/templates/region.tpl.php' -->

</div>
