
.button {
  @extend .z-depth-1;
  text-transform: uppercase;
  font-family: $roboto-condensed;
  font-weight: 700;
  font-size: rem-calc(20);
  background-color: $maggi-primary;
  color: $maggi-secondary;
  text-decoration: none;

  &:hover, &:focus{
    background-color: $maggi-primary-shade;
    text-decoration: none;
  }
}

// Using the available options
.button-maggi  {
  //padding: rem-calc(20);
}

button, button.secondary, button.alert {
  @extend button;
  @extend .round;
  text-transform: uppercase;
  font-family: $roboto-condensed;
  font-weight: 700;
  font-size: rem-calc(16);
  background-color: $maggi-primary;
  color: white;
  padding: rem-calc(6) rem-calc(20);
  text-decoration: none;
  &:hover, &:focus{
    background-color: $maggi-primary-shade;
    text-decoration: none;
  }
}

.button.btn-readmore{
  background: $maggi-primary;
  color:$maggi-secondary;
  padding:10px 30px;
}
