.text-red{
    
    color: $maggi-primary;
}

.hero-bg {
  
  .page-header{
       
       font-size: 3em;
       border: 0;
       text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);

     &.alternate{
        color:$maggi-secondary;
     }
  }

} 

.news{

    margin-bottom: 40px;

    .image{
      border: 8px solid #fff;
      position: relative;
      -webkit-box-shadow: 2px 2px 5px -1px rgba(166,166,166,1);
      -moz-box-shadow: 2px 2px 5px -1px rgba(166,166,166,1);
      box-shadow: 2px 2px 5px -1px rgba(166,166,166,1);

    }
    .bagde{
        background: $maggi-primary;
        width: 100px;
        height: 80px;
        position: absolute;
        top: -8px;
        left:10px;
        z-index:1;
        padding: 3% 10px;
        text-align: center;
        color:$maggi-secondary;
          font-family: $roboto-slab;
          font-size: 0.875em;

        &:after {
          background:transparent;
          content: '';
          width: 0;
        	height: 0;
          border-right: 0 solid transparent;
          border-left: 100px solid transparent;
          border-top: 15px solid $maggi-primary;
          bottom: -15px;
          position: absolute;
          left:0;
        }
    }
    .title{
      color:$maggi-primary;
       font-size: 30px;
       margin-top: 30px;
    }

    .meta{
        color: #ccc;
        font-size: 0.875em;
        margin-bottom:5px;
    }

    .description{
      font-family: $roboto-slab;
      font-weight: 300;
    }

    .footer{
      .right{
        color: #333;
      }
    }

    &.featured{
      
      .title{
        margin-top: 20px;
      }
     
    }

}



/* NEWS DETAIL*/

.post{
  header .title { 

    font-size:3em;

  }
  .post-content, .post-content p {
        font-family: $roboto-slab;
        font-weight: 300;
  }
  .post-content a{
     color: $maggi-primary;
      font-family: $roboto-slab;
      
  }

}


