/*delete after*/
.navbar-collapse{
  display: none !important;
}

.text-red{
   color: $maggi-primary;
}



.hero-bg {

  .page-header{
       margin-top: 0;
       font-size: 3em;
       border: 0;
       text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);

     &.alternate{
        color:$maggi-secondary;
     }
  }

}


.hero-bg.news-hero-bg{
    .banner-content-wrap{
      top:20%;
    }

    .page-header{
      font-size: 4em;
      line-height: 1.2;
    }
}





.news{

    margin-bottom: 40px;
    .picbox {
      padding: 10px 0 0px 50px;
    }
    .image{
      background: #fff;
      border: 8px solid #fff;
      position: relative;
      z-index: 1;
      box-shadow: 2px 2px 5px -1px rgba(166,166,166,0.7);
      transform: rotate(-2deg);
    }

    .small-4{
      position: relative;
    }




    .bagde{
        background: $maggi-primary;
        width: 100px;
        height: 80px;
        position: absolute;
        top: -8px;
        left:10px;
        z-index:1;
        padding: 3% 10px;
        text-align: center;
        color:$maggi-secondary;
          font-family: $roboto-slab;
          font-size: 0.875em;

        &:after {
          background:transparent;
          content: '';
          width: 0;
        	height: 0;
          border-right: 0 solid transparent;
          border-left: 100px solid transparent;
          border-top: 15px solid $maggi-primary;
          bottom: -15px;
          position: absolute;
          left:0;
        }
    }
    .title{
      color:$maggi-primary;
       font-size: 30px;
       margin-top: 30px;
    }

    .meta{
        color: $blue-grey-500;
        font-size: 0.875em;
        margin-bottom:5px;
        margin-top: -0.5em;
    }

    .description{
      font-family: $roboto-slab;
      font-weight: 300;
    }

    .footer{
      .right{

      }
    }

    &.featured{

      .title{
        margin-top: 20px;
      }

    }

}




/* NEWS DETAIL*/

.post{
  header .title {

    font-size:3em;

  }
  .post-content, .post-content p {
        font-family: $roboto-slab;
        font-weight: 300;
  }
  .post-content a{
     color: $maggi-primary;
      font-family: $roboto-slab;

  }

}

/*NEWS LAYOUT*/
.news.mag-featured-news{
  background: #fff;

  margin-top: -20%;
  margin-bottom: 20px;
}

.home.mag-featured-news{
  background:none;
}

.news-horizon-list{
    .news .title{
      margin-top: 10px;
      margin-bottom: 0;
    }

    .news .image{
        transform: rotate(-2deg) ;
        -webkit-transform: rotate(-2deg) ;
        -moz-transform: rotate(-2deg) ;
        -o-transform: rotate(-2deg) ;
        -ms-transform: rotate(-2deg) ;
    }
}


@media only screen and (min-width: 40.063em) {

  .mag-featured-news{

  }

  .news.mag-featured-news{
    margin-top: -300px;
    margin-bottom:50px;
  }


  .news-horizon-list{
      .news .content,.news .footer{
          padding-left: 30px;
      }
  }

  .pen{
      background: url('../../dist/images/pencil.png') no-repeat 0 0;
      position: absolute;
      height: 320px;
      right: -30px;
      top: 0;
      width: 52px;
      z-index: 0;
    }


} /* min-width 641px, medium screens */

@media only screen and (min-width: 64.063em) {

     /*NEWS LAYOUT*/


} /* min-width 1025px, large screens */

@media only screen and (min-width: 90.063em) {
   /*NEWS LAYOUT*/


} /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 120.063em) {


  } /* min-width 1921px, xxlarge screens */
