<!-- .feature_news -->
<div class="column small-12 medium-8 medium-centered ">
  <div class="news featured">
      <div class="image">
        <img alt="{{ title }}" src="http://placehold.it/850x350"/>
        <div class="bagde">Hoạt động mới nhất</div>
      </div>

      <div class="content">


        <a class="card-link" href="#">
          <h3 class="title text-uppercase">CÙNG HẠT NÊM MAGGI NẤM HƯƠNG TRẢI NGHIỆM "NGÀY THANH NHẸ"</h3>
        </a>
        <p class="date meta">
        20/05/2015
        </p>

          <p class="description">Ai trong gia đình cũng có những bộn bề, áp lực riêng của cuộc sống: ba thì lo việc công ty, mẹ thì lo việc nhà, con cái thì lo việc học hành. Đôi
          khi cả nhà cần một ngày nghỉ ngơi, giải phóng cơ thể và tinh thần để thấy thoải mái, nhẹ nhàng hơn. Các ch
          uyên gia dinh dưỡng cũng khuyên rằng, chất dinh dưỡng từ rau củ dễ hấp thụ hơn, khiến bạn không bị cảm giác đầy bụng, khó tiêu.</p>


      </div>

      <div class="footer clearfix">
          <a href="" class="button btn-readmore  text-uppercase left">Tìm hiểu thêm</a>
          <a href="#" class="right" ><i class="fa fa-share-square-o"></i></a>
          <div class="right">
              <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
          </div>
      </div>

  </div>
</div>
<!-- !feature_news -->
