<!-- .feature_home_news -->

<div class="column small-12">



  <div class="news">




    <div class="row">
      <div class="column medium-4">
        <div class="image">
          <a href="#" alt="" class="card-link">
            <img alt="{{ title }}" src="http://placehold.it/400x400"/>
          </a>


        </div>
       <div class="pen"></div>
      </div>
      <!-- card .left-side .image -->

      <div class="column  medium-7 left">
          



        <div class="content">

          <div><h4 class="text-uppercase">Cập nhật "nóng sốt" nhất từ Maggi / <a href="" title="Tin tức khác" class="text-uppercase">Tin tức khác</a></h4></div>

          <a class="card-link" href="#">
            <h3 class="title  text-uppercase">CÙNG HẠT NÊM MAGGI NẤM HƯƠNG TRẢI NGHIỆM "NGÀY THANH NHẸ"</h3>
          </a>
          <p class="date meta">
            20/05/2015
          </p>
          <p class="description">Ai trong gia đình cũng có những bộn bề, áp lực riêng của cuộc sống: ba thì lo việc công ty, mẹ thì lo việc nhà, con cái thì lo việc học hành. Đôi khi cả nhà cần một ngày nghỉ ngơi, giải phóng cơ thể và tinh thần để thấy thoải mái, nhẹ nhàng hơn. Các chuyên gia dinh dưỡng cũng khuyên rằng, chất dinh dưỡng từ rau củ dễ hấp thụ hơn, khiến bạn không bị cảm giác đầy bụng, khó tiêu.</p>


        </div>

        <div class="footer clearfix">
            <a href="news-detail.html" class="button btn-readmore left">Tìm hiểu thêm</a>
            <a href="#" class="right card-link" ><i class="fa fa-share-square-o"></i></a>
            <div class="right">
                <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
            </div>
        </div>

      </div>
      <!-- card .right-side .content -->

    </div>
  </div>
  <!-- end card -->
</div>
<!-- !feature_home_news -->
