<div class="row">
    <div class="col-md-6">
        <div class="img-container">
            <img src="http://loremflickr.com/600/600/cooking" alt="Rounded Image" class="img-rounded">
        </div>
        <div class="space-50"></div>
    </div>
    <div class="col-md-5 col-md-offset-1">
        <h1 class="text-center">Hello there

        <small class="subtitle">How are you today?</small></h1>
        <hr>
        <p>We love the web and care deeply for how users interact with a digital product. The idea behind Creative Tim was creating a standard of things we actually need and would personally use inside our web projects. We power businesses and individuals to create better looking web projects around the world.</p>
        <p>We take great interest in how our customers use our resources and offer strong support and unlimited updates. We are constantly thinking about how to make our products intuitive, beautiful and extremely easy to understand, so feel free to tell us your thoughts!</p>
        <br>
        <p><b>What do the photo with the poor dog symbolise?</b></p>
        <p>Leave the past behind, it is the new "face" that your product will get: harder, better, faster, stronger! :-)</p>

    </div>
</div>
