
<!-- .card_news -->
<div class="column small-12">
  <div class="news">
    <div class="row">
      <div class="column small-4">
        <div class="image">
          <a href="#" alt="" class="card-link">
            <img alt="{{ title }}" src="{{ image }}"/>
          </a>
        </div>
        <div class="pen"></div>
      </div>
      <!-- card .left-side .image -->

      <div class="column  small-7 left">
        

        <div class="content">

          <a class="card-link" href="#">
            <h3 class="title  text-uppercase">{{ title }}</h3>
          </a>
          <p class="date meta">
            20/05/2015
          </p>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas ipsam veritatis officia unde incidunt doloribus veniam eligendi ea maiores delectus excepturi aspernatur illum, voluptates quas odit harum cupiditate cum maxime. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas ipsam veritatis officia unde incidunt doloribus.</p>


        </div>

        <div class="footer clearfix">
            <a href="news-detail.html" class="button btn-readmore left">Tìm hiểu thêm</a>
            <a href="#" class="right" ><i class="fa fa-share-square-o"></i></a>
            <div class="right">
                <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
            </div>
        </div>

      </div>
      <!-- card .right-side .content -->

    </div>
  </div>
  <!-- end card -->
</div>
<!-- !card_news -->
