<div class="row">
    <div class="small-2 column">
        <div class="img-container">
            <img src="http://loremflickr.com/300/600/cooking" alt="Rounded Image" class="img-rounded">
        </div>
        <div class="space-50"></div>
    </div>
    <div class="small-5 small-offset-2 column">
        <h1 class="text-center">Hello there</h1>
        <hr>
        <p><b>What do the photo with the poor dog symbolise?</b></p>
        <p>Leave the past behind, it is the new "face" that your product will get: harder, better, faster, stronger! :-)</p>

    </div>
</div>
