<div class="col-md-4 col-sm-6" itemscope itemtype="http://schema.org/Recipe">
  <div class="card">
    <div class="header">
      <img itemprop="image" src="{{ image }}" alt="Recipe Title">
      <div class="filter"></div>
      <div class="category">
        <h6 class="label label-warning">This Weeks Pick</h6>
      </div>

      <div class="social-line" data-buttons="4">
        <button class="btn btn-social btn-facebook">
          <i class="fa fa-facebook"></i>
        </button>
        <button class="btn btn-social btn-pinterest">
          <i class="fa fa-pinterest"></i>
        </button>
        <button class="btn btn-social btn-google">
          <i class="fa fa-google-plus"></i>
        </button>
        <button class="btn btn-social btn-heart">
          <i class="fa fa-heart"></i>
        </button>
      </div>
    </div>

    <div class="content">
      <h6 class="category">{{ category }}</h6>
      <h4 itemprop="name" class="title">{{ title }}</h4>
      <p itemprop="description" class="description">{{ excerpt }}</p>
    </div>
    <div class="footer text-center">
      <span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
        <span itemprop="ratingValue">4.0</span> stars based on
        <span itemprop="reviewCount">35</span> reviews </span>
      Total time:
      <time datetime="PT1H30M" itemprop="totalTime">1 hour 30 min</time>
      <p>By
        <a href="#" class="btn btn-simple">
          <span itemprop="author">Sarah Smith</span>
        </a>
      </p>
      <meta itemprop="datePublished" content="2009-05-08">
    </div>
  </div>
  <!-- end card -->
</div>
