
<section class="row">
  <div class="small-10 columns small-push-1">
    <div class="questions-box">

      <table class="views-table sticky-enabled cols-3 tableheader-processed sticky-table">
        <thead>
          <tr>
            <th class="views-field views-field-title views-align-left">
              <a class="active" href="/questions/search?keys=&amp;order=title&amp;sort=asc" title="sort by Question">Question</a>
            </th>
            <th class="views-field views-field-created active views-align-center">
              <a class="active" href="/questions/search?keys=&amp;order=created&amp;sort=asc" title="sort by Post date">Post date<img alt="sort ascending" height="13" src="http://jamdigitaluy3ffj2ern.devcloud.acquia-sites.com/misc/arrow-asc.png" title="sort ascending" width="13"></a>
            </th>
            <th class="views-field views-field-entity-id views-align-center">
              <a class="active" href="/questions/search?keys=&amp;order=entity_id&amp;sort=desc" title="sort by Answers">Answers</a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="odd views-row-first">
            <td class="views-field views-field-title views-align-left">

              <a href="/content/c%C3%A1ch-l%C3%A0m-m%C3%B3n-c%C3%A1-kho-ngon-m%C3%A0-kh%C3%B4ng-b%E1%BB%8B-tanh">Cách làm món cá kho ngon mà không bị tanh?</a>

            </td>
            <td class="views-field views-field-created active views-align-center">

              1 hour 6 min

            </td>
            <td class="views-field views-field-entity-id views-align-center">

              none

            </td>
          </tr>
          <tr class="even">
            <td class="views-field views-field-title views-align-left">

              <a href="/content/l%C3%A0m-sao-%C4%91%E1%BB%83-kh%E1%BB%AD-m%C3%B9i-h%C3%A0nh-t%E1%BB%8Fi-tr%C3%AAn-tay">Làm sao để khử mùi hành, tỏi trên tay?</a>

            </td>
            <td class="views-field views-field-created active views-align-center">

              1 hour 8 min

            </td>
            <td class="views-field views-field-entity-id views-align-center">

              2

            </td>
          </tr>
          <tr class="odd">
            <td class="views-field views-field-title views-align-left">

              <a href="/content/l%C3%A0m-sao-%C4%91%E1%BB%83-th%E1%BB%8Bt-kh%C3%B4ng-b%E1%BB%8B-th%C3%A2m-sau-khi-lu%E1%BB%99c">Làm sao để thịt không bị thâm sau khi luộc?</a>

            </td>
            <td class="views-field views-field-created active views-align-center">

              1 hour 9 min

            </td>
            <td class="views-field views-field-entity-id views-align-center">

              1

            </td>
          </tr>
          <tr class="even">
            <td class="views-field views-field-title views-align-left">

              <a href="/content/l%C3%A0m-th%E1%BA%BF-n%C3%A0o-%C4%91%E1%BB%83-m%C3%B3n-c%C3%A1-h%E1%BA%A5p-n%C6%B0%E1%BB%9Bc-t%C6%B0%C6%A1ng-kh%C3%B4ng-b%E1%BB%8B-n%C3%A1t">Làm thế nào để món Cá hấp nước tương không bị nát?</a>

            </td>
            <td class="views-field views-field-created active views-align-center">

              1 hour 11 min

            </td>
            <td class="views-field views-field-entity-id views-align-center">

              1

            </td>
          </tr>
          <tr class="odd">
            <td class="views-field views-field-title views-align-left">

              <a href="/content/l%C3%A0m-sao-%C4%91%E1%BB%83-ch%E1%BA%BF-bi%E1%BA%BFn-c%C3%A1c-m%C3%B3n-%C4%83n-nhi%E1%BB%81u-ch%E1%BA%A5t-x%C6%A1-cho-tr%E1%BA%BB-%E2%80%9Ck%C3%A9n-rau%E2%80%9D">Làm sao để chế biến các món ăn nhiều chất xơ cho trẻ “kén rau”?</a>

            </td>
            <td class="views-field views-field-created active views-align-center">

              1 hour 12 min

            </td>
            <td class="views-field views-field-entity-id views-align-center">

              1

            </td>
          </tr>
          <tr class="even">
            <td class="views-field views-field-title views-align-left">

              <a href="/content/b%C3%AD-quy%E1%BA%BFt-cho-c%C3%A1c-m%C3%B3n-x%C3%A0o-th%C3%AAm-h%E1%BA%A5p-d%E1%BA%ABn">Bí quyết cho các món xào thêm hấp dẫn.</a>

            </td>
            <td class="views-field views-field-created active views-align-center">

              1 hour 14 min

            </td>
            <td class="views-field views-field-entity-id views-align-center">

              1

            </td>
          </tr>
          <tr class="odd">
            <td class="views-field views-field-title views-align-left">

              <a href="/content/c%C3%B4ng-th%E1%BB%A9c-n%E1%BA%A5u-m%C3%B3n-%C4%83n-t%E1%BB%AB-rau-c%E1%BA%A3i-th%C3%ACa">Công thức nấu món ăn từ rau Cải thìa.</a>

            </td>
            <td class="views-field views-field-created active views-align-center">

              1 hour 15 min

            </td>
            <td class="views-field views-field-entity-id views-align-center">

              1

            </td>
          </tr>
          <tr class="even">
            <td class="views-field views-field-title views-align-left">

              <a href="/content/m%E1%BA%B9o-cho-m%C3%B3n-th%E1%BB%8Bt-kho-t%C3%A0u-th%C3%AAm-%C4%91%E1%BA%ADm-m%C3%A0u">Mẹo cho món thịt kho tàu thêm đậm màu.</a>

            </td>
            <td class="views-field views-field-created active views-align-center">

              1 hour 16 min

            </td>
            <td class="views-field views-field-entity-id views-align-center">

              1

            </td>
          </tr>
          <tr class="odd">
            <td class="views-field views-field-title views-align-left">

              <a href="/content/c%C3%A1ch-ch%E1%BA%BF-bi%E1%BA%BFn-m%C3%B3n-%C4%83n-ngon-v%C3%A0-%C4%91%C6%A1n-gi%E1%BA%A3n-t%E1%BB%AB-m%C4%83ng-t%C3%A2y">Cách chế biến món ăn ngon và đơn giản từ măng tây</a>

            </td>
            <td class="views-field views-field-created active views-align-center">

              1 hour 17 min

            </td>
            <td class="views-field views-field-entity-id views-align-center">

              1

            </td>
          </tr>
          <tr class="even views-row-last">
            <td class="views-field views-field-title views-align-left">

              <a href="/content/l%C3%A0m-sao-%C4%91%E1%BB%83-x%C3%A0o-th%E1%BB%8Bt-b%C3%B2-ngon-v%C3%A0-m%E1%BB%81m-h%C6%A1n">Làm sao để xào thịt bò ngon và mềm hơn?</a>

            </td>
            <td class="views-field views-field-created active views-align-center">

              1 hour 26 min

            </td>
            <td class="views-field views-field-entity-id views-align-center">

              1

            </td>
          </tr>
        </tbody>
      </table>


  </div>
</div>
</section>
